{% extends 'base.html' %}
{% load static %}



{% block content %}


<div class="login-box">
  <div class="logo-section">
    <img src="{% static 'admin/img/logo.png' %}" alt="Logo" class="login-logo">
    <h2>Flor de Grace School, Inc</h2>
    <h3><b>SCHOOL MANAGEMENT SYSTEM</b></h3>
  </div>
  
  <form action="{% url 'doLogin' %}" method="POST">
    {% csrf_token %}
    
    <div class="input-group">
      <span for="email" class="input-label">Enter Email</span>
      <input type="email" id="email" class="form-control" placeholder="Email" name="email" required>
    </div>

    <div class="input-group">
      <span for="password" class="input-label">Enter Password</span> <!-- Label above -->
      <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
    </div>

    <button type="submit" class="login-btn">Login</button>
    
    <div class="forgot-password">
      <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </div>

    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </form>
</div>

{% endblock %}
