{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Manage Student
{% endblock page_title %}

{% block main_content %}

{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
    .user-details {
        max-width: 1200px;
        margin: 0 auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Create 6 equal columns */
        gap: 20px;
    }

    .grid-item {
        background-color: #f9f9f9;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    h4 {
        margin-top: 20px;
        font-size: 1.1em;
    }

    .custom-modal-width {
        max-width: 1400px; /* Adjust the value as needed */
    }

    .student-status {
    border-radius: 10px;
    padding: 5px;
    text-align: center;

    }

    .student-status[data-status="Enrolled"] {
        background-color: lightgreen;
    }

    .student-status[data-status="Pending"] {
        background-color: yellow;
    }

    .student-status[data-status="Other"] {
        background-color: transparent;
    }
</style>

<section class="content">
        <div class="container-fluid">
            <a class="btn btn-success" href="{% url 'add_student' %}" role="button">+ Add Student</a> <br/>&nbsp; 
            {% if messages %}
                <div class="form-group">
                    <div class="col-12">
                        {% for message in messages %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {% elif message.tags == "success" %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Student Details</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>No.</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <!-- <th>Username</th> -->
                                <th>Email</th>
                                <!-- <th>Profile Pic</th> -->
                                <th>Student Status</th>
                                <th>Enrollment Status</th>
                                <!-- <th>Last Login</th>
                                <th>Date Joined</th> -->
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in all_users %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                        <!-- <td>{{ user.username }}</td> -->
                                        <td>{{ user.email }}</td>
                                        <!-- <td> <img src="{{ student.profile_pic }}" style="width: 100px;" /> </td> -->
                                        <td id="student-status-{{ user.id }}" 
                                            class="student-status" 
                                            data-status="{{ user.student_status|default:'Other' }}">
                                            {{ user.student_status }}
                                        </td>
                                        <td>{{ user.enrollment.enrollment_status }}</td>
                                        <!-- <td>{{ user.last_login }}</td>
                                        <td>{{ user.date_joined }}</td> -->
                                        <td>
                                            <a href="#" class="btn btn-info" style="color: black;" data-bs-toggle="modal" data-bs-target="#userModal-{{ user.user_id }}" 
                                               data-bs-toggle="tooltip" data-bs-placement="top" title="Details">
                                                <i class="fas fa-info-circle"></i>
                                            </a>
                                            <a href="{% url 'edit_student' user.user_id %}" class="btn btn-warning" 
                                               data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="{% url 'toggle_student_activation' user.user_id %}" class="btn 
                                                    {% if user.user.is_active %}
                                                        btn-danger
                                                    {% else %}
                                                        btn-success
                                                    {% endif %}" 
                                               data-bs-toggle="tooltip" data-bs-placement="top" 
                                               title="{% if user.user.is_active %} Deactivate {% else %} Activate {% endif %}">
                                                {% if user.user.is_active %}
                                                    <i class="fas fa-ban"></i>
                                                {% else %}
                                                    <i class="fas fa-check-circle"></i>
                                                {% endif %}
                                            </a> 
                                        </td>
                                    </tr>

                                    <!-- Modal -->
                                    <div class="modal fade" id="userModal-{{ user.user_id }}" tabindex="-1" aria-labelledby="userModalLabel-{{ user.user_id }}" aria-hidden="true">
                                        <div class="modal-dialog modal-lg custom-modal-width">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="userModalLabel-{{ user.user_id }}">{{ user.first_name }} {{ user.last_name }} - Details</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="user-details">
                                                        <div class="grid-container">
                                                            <!-- Personal Information -->
                                                            <div class="grid-item">
                                                                <h3><b> Personal Information: </b></h3>
                                                                <p>Student Status: <b>{{ user.student_status }}</b></p>
                                                                <p>Student Number: <b>{{ user.student_number }}</b></p>
                                                                <p>First Name: <b>{{ user.first_name }}</b></p>
                                                                <p>Last Name: <b>{{ user.last_name }}</b></p>
                                                                <p>Middle Name: <b>{{ user.middle_name }}</b></p>
                                                                <p>Suffix: <b>{{ user.suffix }}</b></p>
                                                                <p>Nickname: <b>{{ user.nickname }}</b></p>
                                                                <p>Grade Level: <b>{{ user.grade_level }}</b></p>
                                                                <p>Academic Year: <b>{{ user.session_year }}</b></p>
                                                                <p>Date of Birth: <b>{{ user.dob }}</b></p>
                                                                <p>Age: <b>{{ user.age }}</b></p>
                                                                <p>Place of Birth: <b>{{ user.pob }}</b></p>
                                                                <p>Sex: <b>{{ user.sex }}</b></p>
                                                                <p>Address: <b>{{ user.address }}</b></p>
                                                                <p>Religion: <b>{{ user.religion }}</b></p>
                                                                <p>Rank in the Family: 
                                                                    <b>
                                                                        {% if user.rank_in_family == 1 %}
                                                                            1st in the family
                                                                        {% elif user.rank_in_family == 2 %}
                                                                            2nd in the family
                                                                        {% elif user.rank_in_family == 3 %}
                                                                            3rd in the family
                                                                        {% else %}
                                                                            {{ user.rank_in_family }}th in the family
                                                                        {% endif %}
                                                                    </b>
                                                                </p>
                                                                <p>Telephone No.: <b>{{ user.telephone_nos }}</b></p>
                                                                <p>Mobile No.: <b>{{ user.mobile_phone_nos }}</b></p>
                                                                <p>Is Covid Vaccinated: <b>{{ user.is_covid_vaccinated }}</b></p>
                                                                <p>Data of Vaccination: <b>{{ user.date_of_vaccination }}</b></p>
                                                            </div>

                                                            <!-- Parent Guardian Information-->
                                                            <div class="grid-item">
                                                                <h3><b>Parent Guardian Information: </b></h3>
                                                                <p>Father Name: <b>{{ user.parent_guardian.father_name }}</b></p>
                                                                <p>Father Occupation: <b>{{ user.parent_guardian.father_occupation }}</b></p>
                                                                <p>Mother Name: <b>{{ user.parent_guardian.mother_name }}</b></p>
                                                                <p>Mother Occupation: <b>{{ user.parent_guardian.mother_occupation }}</b></p>
                                                                <p>Guardian Name: <b>{{ user.parent_guardian.guardian_name }}</b></p>
                                                                <p>Guardian Occupation : <b>{{ user.parent_guardian.guardian_occupation }}</b></p>
                                                            </div>
                                                            <!-- Previous School Information -->
                                                            <div class="grid-item">
                                                                <h3><b>Previous School Information:</b></h3> <br>
                                                                <p>School Name: <b>{{ user.previous_school.previous_school_name }}</b></p>
                                                                <p>School Address: <b>{{ user.previous_school.previous_school_address }}</b></p>
                                                                <p>Grade level: <b>{{ user.previous_school.previous_grade_level }}</b></p>
                                                                <p>S.Y. Attended: <b>{{ user.previous_school.previous_school_year_attended }}</b></p>
                                                                <p>Teacher Name: <b>{{ user.previous_school.previous_teacher_name }}</b></p>
                                                            </div>
                                                    
                                                            <!-- Emergency Contact Information -->
                                                            <div class="grid-item">
                                                                <h3><b>Person to contact in case of emergency:</b></h3> <br>
                                                                <p>Name: <b>{{ user.emergency_contact.emergency_contact_name }}</b></p>
                                                                <p>Relation: <b>{{ user.emergency_contact.emergency_contact_relationship }}</b></p>
                                                                <p>Address: <b>{{ user.emergency_contact.emergency_contact_address }}</b></p>
                                                                <p>Tel. Nos.: <b>{{ user.emergency_contact.emergency_contact_phone }}</b></p>
                                                                <p>Enrolling Teacher: <b>{{ user.emergency_contact.emergency_enrolling_teacher }}</b></p>
                                                                <p>Date: <b>{{ user.emergency_contact.emergency_referred_by }}</b></p>
                                                                <p>Referred By: <b>{{ user.emergency_contact.emergency_date }}</b></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

  {% endblock main_content %}
