{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Add Student
{% endblock page_title %}

{% block main_content %}

{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title" style="font-size: 25px; font-weight: bold; text-align: center; margin: 10px 0;">REGISTRATION AND ASSESSMENT FORM</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'add_student_save' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Display Messages -->
                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% elif message.tags == "success" %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="card-body">
                            <!-- Basic Student Information -->
                            <div style="font-size: 25px; font-weight: bold; text-align: center; margin: 10px 0;"> I. BASIC STUDENT INFORMATION</div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- Dynamic Session Selection -->
                                        <div class="form-group">
                                            <label for="session">Academic Year <span style="color: red;">*</span></label>
                                            <select class="form-control" name="session_year_id" id="session_year_id" required>
                                                <option value="">Select a Session</option> <!-- Optional placeholder -->
                                                {% for session in sessions %}
                                                    <option value="{{ session.id }}">{{ session.session_start_year.year }} - {{ session.session_end_year.year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <!-- Dynamic GradeLevel Selection -->
                                        <div class="form-group">
                                            <label for="gradelevel">Grade Level <span style="color: red;">*</span></label>
                                            <select class="form-control" name="GradeLevel_id" id="GradeLevel_id" required>
                                                <option value="">Select a GradeLevel</option> <!-- Optional placeholder -->
                                                {% for gradelevel in gradelevels %}
                                                    <option value="{{ gradelevel.id }}">{{ gradelevel.GradeLevel_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <!-- Profile Picture -->
                                        <div class="form-group">
                                            <label for="profile_pic">Profile Picture</label>
                                            <input type="file" class="form-control" name="profile_pic" id="profile_pic">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="student_number">Student Number <span style="color: red;">*</span> </label>
                                            <input type="text" class="form-control" name="student_number" id="student_number" value="{{ student_number }}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="username">Username <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" required>
                                            <span class="username_error"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email <span style="color: red;">*</span></label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required>
                                            <span class="email_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="last_name">Last Name <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Enter Last Name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="first_name">First Name <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Enter First Name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="middle_name">Middle Name</label>
                                            <input type="text" class="form-control" name="middle_name" id="middle_name" placeholder="(optional)">
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <label for="suffix">Suffix</label>
                                            <input type="text" class="form-control" name="suffix" id="suffix" placeholder="jr/sr...">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="middle_name">Nickname</label>
                                            <input type="text" class="form-control" name="nickname" id="nickname" placeholder="(optional)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="dob">Date of Birth <span style="color: red;">*</span></label>
                                            <input type="date" class="form-control" name="dob" id="dob" placeholder="Select your date of birth" onchange="calculateAge()" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="age">Age</label>
                                            <input type="number" class="form-control" name="age" id="age" placeholder="Age will calculate automatically" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="pob">Place of Birth <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="pob" id="pob" placeholder="Enter Place of Birth" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group d-flex align-items-start">
                                            <label for="sex" style="margin-right: 10px; min-width: 50px;">Sex: <span style="color: red;">*</span></label>
                                            <div>
                                                <div class="form-check d-block">
                                                    <input class="form-check-input" type="radio" id="male" name="sex" value="Male">
                                                    <label class="form-check-label" for="male">Male</label>
                                                </div>
                                                <div class="form-check d-block">
                                                    <input class="form-check-input" type="radio" id="female" name="sex" value="Female">
                                                    <label class="form-check-label" for="female">Female</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="nationality">Nationality <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="nationality" id="nationality" placeholder="Enter Nationality" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="religion">Religion</label>
                                            <input type="text" class="form-control" name="religion" id="religion" placeholder="Enter Religion">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="rank_in_family">Rank in the Family</label>
                                            <select class="form-control" name="rank_in_family" id="rank_in_family" required>
                                                <option value="">Select Rank</option>
                                                <option value="1">1st</option>
                                                <option value="2">2nd</option>
                                                <option value="3">3rd</option>
                                                <option value="4">4th</option>
                                                <option value="5">5th</option>
                                                <option value="6">6th</option>
                                                <option value="7">7th</option>
                                                <option value="8">8th</option>
                                                <option value="9">9th</option>
                                                <option value="10">10th</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="form-header">Permanent Address:</div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="region">Region <span style="color: red;">*</span></label>
                                                <select name="region" class="form-control form-control-md" id="region"></select>
                                                <input type="hidden" class="form-control form-control-md" name="region_text" id="region-text" required>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="province">Province <span style="color: red;">*</span></label>
                                                <select name="province" class="form-control form-control-md" id="province"></select>
                                                <input type="hidden" class="form-control form-control-md" name="province_text" id="province-text" required>
                                            </div>    
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="city">City <span style="color: red;">*</span></label>
                                                    <select name="city" class="form-control form-control-md" id="city"></select>
                                                    <input type="hidden" class="form-control form-control-md" name="city_text" id="city-text" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="barangay">Barangay <span style="color: red;">*</span></label>
                                                <select name="barangay" class="form-control form-control-md" id="barangay"></select>
                                                <input type="hidden" class="form-control form-control-md" name="barangay_text" id="barangay-text" required>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="street">street <span style="color: red;">*</span></label>
                                                <input type="text" class="form-control form-control-md" name="street_text" id="street-text">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <input type="hidden" name="permanent_address" id="permanent_address" required>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="telephone_nos">Telephone Nos</label>
                                            <input type="text" class="form-control" name="telephone_nos" id="telephone_nos" placeholder="Enter Telephone Nos">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="mobile_phone_nos">Mobile Phone Nos</label>
                                            <input type="text" class="form-control" name="mobile_phone_nos" id="mobile_phone_nos" placeholder="Enter Mobile Phone Nos" required>
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="is_covid_vaccinated">Is he/she COVID Vaccinated?</label>
                                            <select class="form-control" name="is_covid_vaccinated" id="is_covid_vaccinated">
                                                <option value="True">Yes</option>
                                                <option value="False">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date_of_vaccination">Date of Vaccination</label>
                                            <input type="date" class="form-control" name="date_of_vaccination" id="date_of_vaccination">
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Parent/Guardian Information -->
                                <div style="font-size: 25px; font-weight: bold; text-align: center; margin: 10px 0;"> II. PARENTS/GUARDIAN</div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="father_name">Father's Name</label>
                                            <input type="text" class="form-control" name="father_name" id="father_name" placeholder="Enter Father's Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="father_occupation">Occupation</label>
                                            <input type="text" class="form-control" name="father_occupation" id="father_occupation" placeholder="Enter Father's Occupation">
                                        </div>   
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="mother_name">Mother's Name</label>
                                            <input type="text" class="form-control" name="mother_name" id="mother_name" placeholder="Enter Mother's Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="mother_occupation">Occupation</label>
                                            <input type="text" class="form-control" name="mother_occupation" id="mother_occupation" placeholder="Enter Mother's Occupation">
                                        </div>   
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="guardian_name">Guardian's Name</label>
                                            <input type="text" class="form-control" name="guardian_name" id="guardian_name" placeholder="Enter Guardian's Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="guardian_occupation">Occupation</label>
                                            <input type="text" class="form-control" name="guardian_occupation" id="guardian_occupation" placeholder="Enter Guardian's Occupation">
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Previous School Information -->
                                <div style="font-size: 25px; font-weight: bold; text-align: center; margin: 10px 0;"> III. PREVIOUS SCHOOL ATTENDED</div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="previous_school_name">School name</label>
                                            <input type="text" class="form-control" name="previous_school_name" id="previous_school_name" placeholder="Enter Previous School name">
                                        </div>  
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="previous_school_address">School Address</label>
                                            <input type="text" class="form-control" name="previous_school_address" id="previous_school_address" placeholder="Enter Previous School Address">
                                        </div> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="previous_grade_level">Grade level</label>
                                            <input type="text" class="form-control" name="previous_grade_level" id="previous_grade_level" placeholder="Enter Previous Grade level">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="previous_school_year_attended">S.Y. Attended</label>
                                            <input type="text" class="form-control" name="previous_school_year_attended" id="previous_school_year_attended" placeholder="Enter Previoius School Year Attended">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="previous_teacher_name">Teacher</label>
                                            <input type="text" class="form-control" name="previous_teacher_name" id="previous_teacher_name" placeholder="Enter Previoius Teacher">
                                        </div>
                                    </div>
                                </div>
                                    
                                <!-- Emergency Contact Information -->
                                <div style="font-size: 25px; font-weight: bold; text-align: center; margin: 10px 0;"> IV. PERSON TO CONTACT IN CASE OF EMERGENCY</div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="emergency_contact_name">Contact Name <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="emergency_contact_name" id="emergency_contact_name" placeholder="Enter Contact Name">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="emergency_contact_relationship">Relationship <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="emergency_contact_relationship" id="emergency_contact_relationship" placeholder="Enter Relationship">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="emergency_contact_address">Contact Address <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="emergency_contact_address" id="emergency_contact_address" placeholder="Enter Address">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="emergency_contact_phone">Contact Phone <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="emergency_contact_phone" id="emergency_contact_phone" placeholder="Enter Contact Phone">
                                        </div>    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="emergency_enrolling_teacher">Enrolling Teacher</label>
                                            <input type="text" class="form-control" name="emergency_enrolling_teacher" id="emergency_enrolling_teacher" placeholder="Enter Enrolling Teacher">
                                        </div> 
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="emergency_date">Date</label>
                                            <input type="date" class="form-control" name="emergency_date" id="emergency_date">
                                        </div> 
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="emergency_referred_by">Referred by</label>
                                            <input type="text" class="form-control" name="emergency_referred_by" id="emergency_referred_by" placeholder="Enter Referred by">
                                        </div> 
                                    </div>
                                </div>
                        </div> 
                    </form>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="{% url 'manage_student' %}" class="btn btn-secondary">Back</a>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}

{% block custom_js %}
    {% comment %} Checking if email and username already exists or not usin Ajax {% endcomment %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
$(document).ready(function() {
            // Check email availability
            $("#email").on("keyup", function() {
                var email = $(this).val();

                if (email !== "") {
                    $.ajax({
                        url: '{% url "check_email_exist" %}',
                        type: 'POST',
                        data: { email: email },
                        headers: { 'X-CSRFToken': '{{ csrf_token }}' }, // CSRF token for security
                    })
                    .done(function(response) {
                        $(".email_error").remove(); // Remove previous messages
                        if (response.trim() === "True") {
                            $("<span class='email_error' style='color: red; padding: 5px; font-weight: bold;'> Email Not Available. </span>").insertAfter("#email");
                        } else {
                            $("<span class='email_error' style='color: green; padding: 5px; font-weight: bold;'> Email Available. </span>").insertAfter("#email");
                        }
                    })
                    .fail(function() {
                        console.error("Failed to check email availability.");
                    });
                } else {
                    $(".email_error").remove(); // Remove message if input is empty
                }
            });

            // Check username availability
            $("#username").on("keyup", function() {
                var username = $(this).val();

                if (username !== "") {
                    $.ajax({
                        url: '{% url "check_username_exist" %}',
                        type: 'POST',
                        data: { username: username },
                        headers: { 'X-CSRFToken': '{{ csrf_token }}' }, // CSRF token for security
                    })
                    .done(function(response) {
                        $(".username_error").remove(); // Remove previous messages
                        if (response.trim() === "True") {
                            $("<span class='username_error' style='color: red; padding: 5px; font-weight: bold;'> Username Not Available. </span>").insertAfter("#username");
                        } else {
                            $("<span class='username_error' style='color: green; padding: 5px; font-weight: bold;'> Username Available. </span>").insertAfter("#username");
                        }
                    })
                    .fail(function() {
                        console.error("Failed to check username availability.");
                    });
                } else {
                    $(".username_error").remove(); // Remove message if input is empty
                }
            });
        });

</script>

<script>

    function concatenateAddress() {
            // Get the values of the input fields
            var region = document.getElementById('region-text').value;
            var province = document.getElementById('province-text').value;
            var city = document.getElementById('city-text').value;
            var barangay = document.getElementById('barangay-text').value;
            var street = document.getElementById('street-text').value;

            // Concatenate the values
            var fullAddress = street + ", " + barangay + ", " + city + ", " + province + ", " + region;

            // Set the concatenated address to the hidden input
            document.getElementById('address').value = fullAddress;
        }

        // Call the function initially (in case values are already set)
        concatenateAddress();

        // Add event listeners to update the address when any input changes
        document.getElementById('region-text').addEventListener('input', concatenateAddress);
        document.getElementById('province-text').addEventListener('input', concatenateAddress);
        document.getElementById('city-text').addEventListener('input', concatenateAddress);
        document.getElementById('barangay-text').addEventListener('input', concatenateAddress);
        document.getElementById('street-text').addEventListener('input', concatenateAddress);

    function calculateAge() {
        const dobInput = document.getElementById('dob').value;
        if (dobInput) {
            const dob = new Date(dobInput);
            const today = new Date();
            let age = today.getFullYear() - dob.getFullYear();
            const monthDiff = today.getMonth() - dob.getMonth();
            if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < dob.getDate())) {
                age--;
            }
            document.getElementById('age').value = age;
        } else {
            document.getElementById('age').value = '';
        }
    }
</script>


{% endblock custom_js %}