{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Add Load
{% endblock page_title %}

{% block main_content %}

{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<section class="content">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-header">
                    </div> 
                    {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% elif message.tags == "warning" %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Academic Year</label>
                                    <select class="form-control" name="session_year_id" id="session_year_id" required>
                                        <option value="">Select a Academic Year</option>
                                        {% for session_year in session_years %}
                                            <option value="{{ session_year.id }}">{{ session_year.session_start_year.year }} - {{ session_year.session_end_year.year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="curriculum">Curriculums</label>
                                    <select class="form-control" name="curriculum_id" id="curriculum_id" required>
                                        <option value="">Select a Curriculum</option>
                                        {% for curriculum in curriculums %}
                                            <option value="{{ curriculum.id }}">{{ curriculum.curriculum_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="assignsection">Assigned Section</label>
                                    <select class="form-control" id="AssignSection_id" name="AssignSection_id" required>
                                        <option value="">Select Assigned Section</option>
                                        {% for assignsection in assignsections %}
                                            <option value="{{ assignsection.id }}" data-gradelevel-id="{{ assignsection.enrollment.GradeLevel_id.id }}">
                                                {{ assignsection.enrollment.GradeLevel_id.GradeLevel_name }} - {{ assignsection.section_id.section_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-12">
                                <!-- general form elements -->
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Load Details</h3>
                                        <div class="card-tools">
                                            <div class="input-group input-group-sm" style="width: 150px;">
                                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Academic Year</th>
                                                    <th>Curriculum</th>
                                                    <th>Grade Level - Section</th>
                                                    <th>Subjects</th>
                                                    <th>Faculty</th>
                                                    <th>Advisory?</th>
                                                    <th id="conflict-header" style="display: none; color: red;"> Time Conflict</th>
                                                </tr>
                                            </thead>
                                            <tbody id="load_table_body">
                                                <tr>
                                                    <td colspan="7" class="text-center">Select an Academic Year, Curriculum, and Assigned Section to load data.</td>
                                                </tr>
                                            </tbody>
                                        </table>        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" id="save_loads" class="btn btn-success">Save</button>
                        <a href="{% url 'manage_load_scheduling' %}" class="btn btn-secondary">Back</a>
                    </div>

                </div> <!-- card card-primary -->
            </div> <!-- col-md-12 -->
        </div> <!-- row -->
    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}

{% block custom_js %}

<script>
    $(document).ready(function() {
        // When any of the dropdowns change
        $('#session_year_id, #curriculum_id, #AssignSection_id').change(function() {
            var sessionYearId = $('#session_year_id').val();
            var curriculumId = $('#curriculum_id').val();
            var assignSectionId = $('#AssignSection_id').val();

            // Check if all fields have a value selected
            if (sessionYearId && curriculumId && assignSectionId) {
                // Send AJAX request to check if the record already exists
                $.ajax({
                    url: "{% url 'is_load_exists' %}",  // URL for the check_load_exists view
                    type: 'POST',
                    data: {
                        'session_year_id': sessionYearId,
                        'curriculum_id': curriculumId,
                        'assign_section_id': assignSectionId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        // Check if the record exists
                        if (response.exists) {
                            // Show conflict message in the table
                            $('#load_table_body').html(`
                                <tr>
                                    <td colspan="7" class="text-center" style="color: red;">
                                        This record already exists. Please check the details.
                                    </td>
                                </tr>
                            `);
                        } else {
                            // Clear the table and display a message asking to select values
                            $('#load_table_body').html(`
                                <tr>
                                    <td colspan="7" class="text-center">Select an Academic Year, Curriculum, and Assigned Section to load data.</td>
                                </tr>
                            `);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log("Error checking record: " + error);
                    }
                });
            }
        });
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const csrfToken = '{{ csrf_token }}';
        const curriculumSelect = document.getElementById("curriculum_id");
        const sectionSelect = document.getElementById("AssignSection_id");
        const sessionYearSelect = document.getElementById("session_year_id");
        const tableBody = document.getElementById("load_table_body");

        function fetchSubjectData() {
            const curriculumId = curriculumSelect.value;
            const gradeLevelId = sectionSelect.options[sectionSelect.selectedIndex]?.dataset.gradelevelId;
            const sessionYearId = sessionYearSelect.value;

            if (curriculumId && gradeLevelId && sessionYearId) {
                fetch(`/get_subject_data/?curriculum_id=${curriculumId}&gradelevel_id=${gradeLevelId}`)
                    .then((response) => response.json())
                    .then((data) => {
                        tableBody.innerHTML = ""; // Clear the table body
                        if (data.subjects && data.subjects.length) {
                            data.subjects.forEach((subject, index) => {
                                const row = document.createElement("tr");
                                const facultyOptions = data.staffs
                                    .map(staff => `<option value="${staff.id}">${staff.name}</option>`)
                                    .join("");

                                row.innerHTML = `
                                    <td>${index + 1}</td>
                                    <td>${sessionYearSelect.selectedOptions[0].text}</td>
                                    <td>${curriculumSelect.selectedOptions[0].text}</td>
                                    <td>${sectionSelect.selectedOptions[0].text}</td>
                                    <td>${subject.name}</td>
                                    <td>
                                        <select class="form-control" name="faculty_${subject.id}" required>
                                            <option value="">Select Faculty</option>
                                            ${facultyOptions}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="advisory_${subject.id}">
                                    </td>
                                    <input type="hidden" name="session_year_id" value="${sessionYearId}">
                                    <input type="hidden" name="curriculum_id" value="${curriculumId}">
                                    <input type="hidden" name="assign_section_id" value="${sectionSelect.value}">
                                    <input type="hidden" name="subject_id" value="${subject.id}">
                                `;
                                tableBody.appendChild(row);
                            });
                        } else {
                            tableBody.innerHTML = `<tr><td colspan="7" class="text-center">No subjects available.</td></tr>`;
                        }
                    });
            } else {
                tableBody.innerHTML = `<tr><td colspan="7" class="text-center">Select all required fields.</td></tr>`;
            }
        }

        curriculumSelect.addEventListener("change", fetchSubjectData);
        sectionSelect.addEventListener("change", fetchSubjectData);
        sessionYearSelect.addEventListener("change", fetchSubjectData);

        document.getElementById('save_loads').addEventListener('click', function () {
            const rows = document.querySelectorAll('#load_table_body tr');
            const loadData = [];

            rows.forEach(row => {
                const sessionYearId = row.querySelector('input[name="session_year_id"]').value;
                const curriculumId = row.querySelector('input[name="curriculum_id"]').value;
                const assignSectionId = row.querySelector('input[name="assign_section_id"]').value;
                const subjectId = row.querySelector('input[name="subject_id"]').value;
                const staffId = row.querySelector('select[name^="faculty_"]').value;
                const isAdvisory = row.querySelector('input[name^="advisory_"]').checked;

                if (sessionYearId && curriculumId && assignSectionId && subjectId && staffId) {
                    loadData.push({
                        session_year_id: sessionYearId,
                        curriculum_id: curriculumId,
                        assign_section_id: assignSectionId,
                        subject_id: subjectId,
                        staff_id: staffId,
                        is_advisory: isAdvisory
                    });
                }
            });

            if (loadData.length) {
                fetch('/save_load_data/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    body: JSON.stringify({ loads: loadData })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.redirect_url) {
                            window.location.href = data.redirect_url;
                        } else {
                            alert(data.message || 'Error occurred while saving.');
                        }
                    })
                    .catch(() => alert('An error occurred while saving the data.'));
            } else {
                alert("Please fill in all required fields.");
            }
        });
    });
</script>
{% endblock custom_js %}

