{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Edit Curriculum | #ID : {{ curriculum.id }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Curriculum</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'edit_curriculum_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            <div class="form-group">
                                <label>Curriculum Name </label>
                                <input type="text" class="form-control" name="curriculum_name" id="curriculum_name" value="{{ curriculum.curriculum_name }}">
                                <input type="hidden" name="curriculum_id" value="{{ curriculum.id }}" />
                            </div>

                            <div class="form-group">
                                <label>Curriculum Description </label>
                                <input type="text" class="form-control" name="curriculum_description" id="curriculum_description" value="{{ curriculum.curriculum_description }}">
                                <input type="hidden" name="curriculum_id" value="{{ curriculum.id }}" />
                            </div>

                            <div class="form-group">
                                <label for="curriculum_status">Curriculum Status</label>
                                <select class="form-control" name="curriculum_status" id="curriculum_status">
                                    <option value="Active" {% if curriculum.curriculum_status == 'Active' %}selected{% endif %}>Active</option>
                                    <option value="Inactive" {% if curriculum.curriculum_status == 'Inactive' %}selected{% endif %}>Inactive</option>
                                </select>
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Update Curriculum</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}