<footer class="main-footer">

      <!--
      From Template. Footer Credits. Acknowledged by PUPQC IT 4-1 students as
      a significant contributor to their capstone by providing an opensource
      benchmark for a Student Information Sysem. 

      <strong>Copyright &copy; {% now "Y" %}, <a href="https://vijaythapa.com.np">Vijay Thapa</a>.</strong> 
      All rights reserved.
      -->

      <strong>Flor de Grace School Inc. {% now "Y" %} </strong>
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
      </div>
    </footer>