{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Manage Grade Level
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <a class="btn btn-success" href="{% url 'add_gradelevel' %}" role="button">+ Add GradeLevel</a> 
        <a class="btn btn-secondary" href="{% url 'export_gradelevels_to_excel' %}" role="button">Export to Excel</a> 
        <br/>&nbsp;

        {% if messages %}
            <div class="form-group">
                <div class="col-12">
                    {% for message in messages %}
                    {% if message.tags == "error" %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    {% elif message.tags == "success" %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Grade Level Details</h3>

                        <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                            <!-- <th>ID</th> -->
                            <th>GradeLevel Name</th>
                            <th>Date Created</th>
                            <th>Date Updated</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gradelevel in gradelevels %}
                            <tr>
                            <!-- <td>{{ gradelevel.id }}</td> -->
                            <td>{{ gradelevel.GradeLevel_name }}</td>
                            <td>{{ gradelevel.created_at }}</td>
                            <td>{{ gradelevel.updated_at }}</td>
                            <td>
                                <a href="{% url 'edit_gradelevel' gradelevel.id %}" class="btn btn-warning">Edit</a> 
                                <!-- <a href="{% url 'delete_gradelevel' gradelevel.id %}" class="btn btn-danger">Delete</a> -->
                                <a href="" class="btn btn-secondary">Archive</a>
                            </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No records Found.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        
                        <!-- Bootstrap Pagination Controls -->
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {% if gradelevels.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ gradelevels.previous_page_number }}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <span class="page-link">&laquo;</span>
                                            </li>
                                        {% endif %}

                                        {% for i in gradelevels.paginator.page_range %}
                                            {% if gradelevels.number == i %}
                                                <li class="page-item active">
                                                    <span class="page-link">{{ i }}</span>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if gradelevels.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ gradelevels.next_page_number }}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <span class="page-link">&raquo;</span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}
