{% extends 'student_template/base_template.html' %}

{% block page_title %}
    Schedule
{% endblock page_title %}

{% block main_content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Class Schedule</h3>
                    </div>

                    <div class="card-body">
                        {% if student_schedule %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#ID</th>
                                            <th>Subject</th>
                                            <th>Day</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Instructor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for schedule in student_schedule %}
                                        <tr>
                                            <td>{{ schedule.id }}</td>
                                            <td>{{ schedule.load_id.subject_id.subject_name }}</td>
                                            <td>{{ schedule.day_of_week }}</td>
                                            <td>{{ schedule.start_time }}</td>
                                            <td>{{ schedule.end_time }}</td>
                                            <td>{{ schedule.staff_id.first_name }} {{ schedule.staff_id.last_name }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="alert alert-warning">
                                No Schedule Information found.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}
